@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import "tailwindcss";
@import "github-markdown-css/github-markdown.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-google-sans: 'Google Sans Flex', sans-serif;
  --font-google-sans-code: 'Google Sans Code', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-google-sans);
  --font-mono: var(--font-google-sans-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-google-sans); */
}

.font-google-sans {
  font-family: var(--font-google-sans);
}

.font-google-sans-code {
  font-family: var(--font-google-sans-code);
}

pre.shiki {
  border-radius: 8px;
  padding: 1rem;
  margin: 1.5rem 0;
}

pre.shiki {
  /* font-family: var(--font-google-sans-code); */
  font-size: 14px;
  background-color: #f5f5f5;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  line-height: 1.5em;

  code {
    font-family: var(--font-google-sans-code) !important;
  }
}

.markdown-body {

  table {
    display: table;
    width: 100%;
  }
}